<header class="main-header">
  <div class="top-bar">
    <div class="lang">En</div>

    <div class="logo">
      <a routerLink="/">
        <img src="assets/images/Wod.png" alt="logo" />
      </a>
    </div>

    <div class="icons">
      <i class="bi bi-search"></i>
      <i class="bi bi-heart"></i>
      <i class="bi bi-bag"></i>
      <i class="bi bi-person"></i>
    </div>
  </div>

  <nav class="nav-links">
    <a routerLink="/">HOME</a>
    <a routerLink="/about">ABOUT</a>
    <div class="dropdown">
      <a routerLink="/shop" class="dropdown-toggle">SHOP</a>
      <div class="dropdown-menu">
        <a routerLink="/shop/category1">Rings</a>
        <a routerLink="/shop/category3">Earrings</a>
        <a routerLink="/shop/category4">Bracelets</a>
        <a routerLink="/shop/category2">Necklaces</a>
      </div>
    </div>
    <a routerLink="/contact">CONTACT</a>
  </nav>
</header>
