<header class="main-header">
  <div class="top-bar">
    <div class="lang-switch">
      <button
        class="btn-switch"
        (click)="switchToArabic()"
        [attr.aria-pressed]="language === 'ar'"
      >
        عربي
      </button>

      <button
        class="btn-switch"
        (click)="switchToEnglish()"
        [attr.aria-pressed]="language === 'en'"
      >
        English
      </button>
    </div>

    <div class="logo">
      <a routerLink="/">
        <img src="assets/images/Wod.png" alt="logo" />
      </a>
    </div>

    <div class="icons">
      <i class="bi bi-search"></i>
      <i class="bi bi-heart"></i>
      <i class="bi bi-bag"></i>
      <i class="bi bi-person"></i>
    </div>
  </div>

  <nav class="nav-links">
    <a routerLink="/">{{ "header.Home" | translate }}</a>
    <a routerLink="/about">{{ "header.About" | translate }}</a>
    <div class="dropdown">
      <a [routerLink]="['/store']" class="dropdown-toggle">{{
        "header.Shop" | translate
      }}</a>
      <div class="dropdown-menu">
        <a routerLink="/store/rings">Rings</a>
        <a routerLink="/store/earrings">Earrings</a>
        <a routerLink="/store/bracelets">Bracelets</a>
        <a routerLink="/store/necklaces">Necklaces</a>
      </div>
    </div>
    <a routerLink="/contact">{{ "header.Contact" | translate }}</a>
  </nav>
</header>
