<!-- About Section -->

<div class="about-section animate__animated animate__fadeInUp container-fluid">
  <h1 class="section-title">{{ "about.our_story_title" | translate }}</h1>
  <p>{{ "about.our_story_paragraph1" | translate }}</p>
  <p>{{ "about.our_story_paragraph11" | translate }}</p>
  <div class="about-content">
    <div class="about-images-overlap">
      <img
        src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1751222643/high-angle-aesthetic-golden-earrings_bmlqkd.jpg"
        alt="Jewelry Detail 1"
        class="stacked-img"
      />
      <div class="about-img-overlay">
        <img
          src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1757180756/22376590_6600829_wtja11.jpg"
          alt="Jewelry Detail 2"
          class="stacked-img"
        />
      </div>
    </div>
    <div class="about-text">
      <p>{{ "about.our_story_paragraph2" | translate }}</p>
      <p>{{ "about.our_story_paragraph3" | translate }}</p>
    </div>
  </div>
</div>

<!-- Our Services Section -->
<div
  class="services-section animate__animated animate__fadeInRight container-fluid"
>
  <h1 class="section-title">{{ "about.our_services_title" | translate }}</h1>
  <ul class="services-list">
    <li>{{ "about.service_custom_design" | translate }}</li>
    <li>{{ "about.service_repair_polish" | translate }}</li>
    <li>{{ "about.service_diamond_setting" | translate }}</li>
    <li>{{ "about.service_engraving" | translate }}</li>
    <li>{{ "about.service_3d_printing" | translate }}</li>
  </ul>
</div>
