<footer class="footer-section">
  <h4>Stay Connected</h4>
  <p>Follow us for inspiration, behind-the-scenes, and exclusive drops.</p>

  <div class="footer-social">
    <a href="#" aria-label="Instagram">
      <img
        src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1751491992/instagram_3670125_urg3vc.png"
        alt="Instagram"
      />
    </a>
    <a href="#" aria-label="Facebook">
      <img
        src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1751491362/letter-f_9257576_isquq4.png"
        alt="Facebook"
    /></a>
    <a href="#" aria-label="Pinterest">
      <img
        src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1751492084/social_16033450_kcbtnn.png"
        alt="Pinterest"
    /></a>
  </div>

  <div class="footer-links">
    <a href="#">About</a>
    <a href="#">Craftsmanship</a>
    <a href="#">FAQs</a>
    <a href="#">Contact</a>
  </div>

  <div class="footer-bottom">
    &copy; 2025 Wod Jewelry. Crafted with care in Amman ✨
    <!-- <p>By Kawthar safi ✨</p> -->
  </div>
</footer>
