<footer id="footer" class="footer-section">
  <h4>Stay Connected</h4>
  <p>Follow us for inspiration, behind-the-scenes, and exclusive drops.</p>

  <div class="footer-social">
    <a
      href="https://www.instagram.com/wod_jewelry/
"
      aria-label="Instagram"
    >
      <img
        src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1751491992/instagram_3670125_urg3vc.png"
        alt="Instagram"
      />
    </a>
    <a
      href="https://www.facebook.com/wod.jewelry/
"
      aria-label="Facebook"
    >
      <img
        src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1751491362/letter-f_9257576_isquq4.png"
        alt="Facebook"
    /></a>
    <a
      href="https://wa.me/1234567890
"
      aria-label="Whatsapp"
    >
      <img
        src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1757166508/whatsapp_1377218_qvccye.png"
        alt="Whatsapp"
    /></a>
  </div>

  <div class="footer-links">
    <a routerLink="/about">About</a>

    <a href="#">FAQs</a>
    <a routerLink="/contact">Contact</a>
  </div>

  <div class="footer-bottom">
    &copy; 2025 Wod Jewelry. Crafted with care in Amman ✨
    <!-- <p>By Kawthar safi ✨</p> -->
  </div>
</footer>
