:root {
  --cream-bg: #f8f1e5;
  --dark-brown: #4b372f;
  --soft-gold: #d6b884;
  --emerald-green: #178b5f;
  --text-dark: #2e2e2e;
  --text-light: #fdfaf7;
}

// body {
//   font-family: Roboto, "Helvetica Neue", sans-serif;

//   margin: 0;
//   padding: 0;
// }
body {
  background-color: var(--cream-bg);
  font-family: "Georgia", serif;
  color: var(--text-dark);
}
